  body {
    padding-left: 1em;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif, Verdana;
    color: black;
    background-color: #654321;}
  .titlehead  {
    background-color: #fdb81e;
  }
  table  td {
    vertical-align: top;
  }
  h2.titlehead  {
    font-size: large; 
    font-family: Arial, Helvetica, sans-serif, Verdana;
    font-style: italic;
    color: black;
    text-align: center;}

  h3.titlehead {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif, Verdana;
    font-weight: bold;
    color: black;
    text-align: center;}

  .titlehead a:link {
    color: black;
    font-weight: bold;
  }

  .titlehead a:visited {
    color: purple;
    font-weight: bold;
  }
  h3 {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif, Verdana;
    font-weight: bold;
    color: black;
    text-align: center;}

  .navbar  {
    background-color: #fdb81e;
    font-family: Arial, Helvetica, sans-serif, Verdana;
    font-size: 16px;
  } 
  ul.navbar {
    color: black;
  }

  ul.navbar a:link {
    font-weight: 16px;
    color: black;
  }

  ul.navbar a:hover {
    background-color: white;
    color: black;
  }

  ul.navbar a:visited {
    color: purple;
  }

  a:link {
    color: black }
  a:visited {
    color: purple }
  a:hover {
    background-color: white;
    color: black;  
  }

  .maintxt {
    background-color: #f8f8f8;
  }

  .bottombar  {
    font-family: Arial, Helvetica, sans-serif, Verdana;
    background-color: #fdb81e;
    color: black;
    font-size: 16px; 
  }
  .bottombar a:link {
    color: black;
  }

  .bottombar a:visited {
    color: purple;
  } 

  nav ul a {
    padding-top:10px;
    text-align: left;
  }

  /* Style the header 
header {
  background-color: #666;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}
*/


/* Container for flexboxes */
section {
  display: -webkit-flex;
  display: flex;
}

/* Style the navigation menu */
nav {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: #fdb81e;
  color: black;  
  padding: 20px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}

/* Style the content */
article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: #fdb81e;
    color: black;  
  padding: 10px;
}

/* Style the footer */
footer {
  font-size: 10px;
  background-color: #494843;
  padding: 1em;
  text-align: left;
  color: white;
}

.vl {
  border-left: 6px solid #654321;
  height: 220px;
  position: absolute;
  left: 450px;
  margin-left: -3px;
  top: 310px;
}
.inline-block {
  display: inline-block;
  text-align: center;
  margin-right: 620px;
}

img{
  width: 100px;
  height: 100px;
}